{% extends 'includes/single_main.html' %}
{% load static %}

{% block title %}Password Reset{% endblock %}

{% block content %}

<div class="kt-login__signin">
    <div class="kt-login__head">
        <h3 class="kt-login__title">Reset your password</h3>
    </div>
    {% include 'includes/form.html' %}
</div>
<div class="kt-login__account">
        <span class="kt-login__account-msg">
            Remembered your password ?
        </span>
    <a href="{% url 'account_login' %}" id="kt_login_signup" class="kt-login__account-link">Login</a>
</div>

{% endblock %}