{% extends 'includes/single_main.html' %}
{% load static %}

{% block title %}Password Reset Done{% endblock %}

{% block content %}

<div class="kt-login__signin">
    <div class="kt-login__head">
        <h3 class="kt-login__title">Reset your password</h3>
    </div>
    <p>Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.</p>
</div>
<div class="kt-login__account">
        <span class="kt-login__account-msg">
            Remembered your password ?
        </span>
    <a href="{% url 'account_login' %}" id="kt_login_signup" class="kt-login__account-link">Return to log in</a>
</div>

{% endblock %}