{% load static %}
<div id="kt_header" class="header header-fixed">
    <!--begin::Container-->
    <div class="container-fluid d-flex flex-row-reverse align-items-stretch justify-content-between">
        <!--begin::Topbar-->
        <div class="topbar">
            <!--begin::User-->
            <div class="topbar-item">

                <div class="btn btn-icon w-auto btn-clean d-flex align-items-center btn-lg px-2"
                     id="kt_quick_user_toggle">
                    <span class="text-muted font-weight-bold font-size-base mr-1">Hi,</span>
                    <span class="text-success font-weight-bolder font-size-base mr-3">{% if request.user.name %}
                        {{ request.user.name }}{% else %}{{ request.user.username }}{% endif %}</span>
                    <span class="symbol symbol-35 symbol-light-success">
                        <span class="font-size-h5 font-weight-bold"><i class="fa fa-user-circle"></i></span>
                    </span>
                </div>
            </div>
            <!--end::User-->
        </div>
        <!--end::Topbar-->
    </div>
    <!--end::Container-->
</div>