{% load crispy_forms_field static %}
<div class="input-group mb-3">
    <div class="form-group">
        <div class="image-input image-input-outline" id="kt_profile_avatar"
             style="background-image: url('{% static 'images/users/blank.png' %}')">
            <div class="image-input-wrapper"
                 style="background-image: url('{% if field.value %}{{ field.value.url }}{% endif %}')"></div>
            <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                   data-action="change" data-toggle="tooltip" title=""
                   data-original-title="Change {{ field.name|title }}">
                <i class="fa fa-pen icon-sm text-muted"></i>
                <input type="file" name="{{ field.name }}" accept=".png, .jpg, .jpeg"/>
                <input type="hidden" name="{{ field.name }}-clear"/>
            </label>
            <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                  data-action="cancel" data-toggle="tooltip" title="Cancel {{ field.name|title }}">
																	<i class="ki ki-bold-close icon-xs text-muted"></i>
																</span>
        {% if field.value %}
            <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                  data-action="remove" data-toggle="tooltip" title="Remove {{ field.name|title }}">
																	<i class="ki ki-bold-close icon-xs text-muted"></i>
																</span>
        {% endif %}
        </div>
    </div>
</div>
{% include 'bootstrap4/layout/help_text_and_errors.html' %}


