{% extends 'includes/main.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card card-custom gutter-b">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">Instructor List</h3>
                        </div>
                        <div class="card-toolbar">
                            <a href="{% url 'instructor_add' %}" class="btn btn-info">Add New</a>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if filter %}
                            {% include 'includes/filter.html' %}
                        {% endif %}
                        {% if object_list %}
                            <!--begin: Table-->
                            <div class="table-responsive">
                                <table class="table" id="kt_datatable">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Email</th>
                                        <th>Name</th>
                                        <th>Percentage</th>
                                        <th>Status</th>
                                        <th style="width: 180px">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for object in object_list %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ object.email }}</td>
                                            <td>
                                                {{ object.instructor_profile.full_name }}
                                            </td>
                                            <td>{{ object.percentage }}</td>
                                            <td>{{ object.is_approved|yesno }}</td>
                                            <td>
                                                {% if  object.instructor_profile %}
                                                    <a href="{% url 'instructor_profile' object.instructor_profile.pk %}"
                                                       class="btn btn-sm btn-light-warning"><i
                                                            class="flaticon-edit"></i></a>
                                                    <a href="{% url 'user_percentage' object.pk %}"
                                                       class="btn btn-sm btn-instagram"><i
                                                            class="flaticon-settings-1"></i></a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!--end: Datatable-->
                        {% else %}
                            {% include 'includes/no_data_found.html' %}
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        {% include 'includes/pagination.html' %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}