{% extends 'includes/main.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card card-custom gutter-b">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">License List:</h3>
                        </div>
                        <div class="card-toolbar">
                            <a href="{% url 'license_add' %}" class="btn btn-info">Add New</a>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if filter %}
                            {% include 'includes/filter.html' %}
                        {% endif %}
                        {% if object_list %}
                            <!--begin: Table-->
                            <div class="table-responsive">
                                <table class="table" id="kt_datatable">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>No of License</th>
                                        <th>Amount</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Status</th>
                                        <th style="width: 180px">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for object in object_list %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ object.user.name }}</td>
                                            <td>{{ object.user.email }}</td>
                                            <td>{{ object.no_of_licence }}</td>
                                            <td>{{ object.amount }}</td>
                                            <td>{{ object.start_date|date:'d-M-Y' }}</td>
                                            <td>{{ object.expire_date|date:'d-M-Y' }}</td>
                                            <td>{{ object.is_active|yesno }}</td>
                                            <td>
                                                <a href="{% url 'license_update' object.pk %}"
                                                   class="btn btn-sm btn-secondary"><i class="flaticon-edit"></i></a>
                                                <a class="btn btn-primary" data-toggle="collapse"
                                                   href="#collapseExample{{ object.pk }}" role="button"
                                                   aria-expanded="false"
                                                   aria-controls="collapseExample">
                                                    view
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="9" style="padding: 0">
                                                <div class="collapse" id="collapseExample{{ object.pk }}">
                                                    <br>
                                                    <ul>
                                                        <li>IOU Amount: {{ object.platform_amount|floatformat:'2' }}</li>
                                                        <li>Disburse Amount: {{ object.disburse_amount|floatformat:'2' }}</li>
                                                        <li>Budget/User: {{ object.user_budget|floatformat:'2' }}</li>
                                                        <li>Invited User: {{ object.invited_user }}</li>
                                                        <li>Registered User: {{ object.created_user }}</li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!--end: Datatable-->
                        {% else %}
                            {% include 'includes/no_data_found.html' %}
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        {% include 'includes/pagination.html' %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}